$fa-font-path :"~font-awesome/fonts";
@import "~pea-styles/scss/variable.scss";
@import "~pea-styles/scss/pea-class.scss";
@import "~font-awesome/scss/font-awesome.scss";

body{
    background-color:$peaBlank;
    background-image: url("//pea.nutjs.com/mine/image/uchu01.jpg");
    font-family: Georgia, serif;
}