$fa-font-path :"~font-awesome/fonts";
@import "~libPea3nutOrg/src/scss/variable.scss";
@import "~libPea3nutOrg/src/scss/pea-class.scss";
@import "~font-awesome/scss/font-awesome.scss";

body{
    background-color:$peaBlank;
    background-image: url("//public.pea3nut.org/img/uchu01.bg.jpg");
    font-family: Georgia, serif;
}